<% include partials/header.ejs%>

	<link rel="stylesheet" href="/css/admissionsDb.css">
	<main>
		<div class="section">
			<div class="container">
				<h3 style="text-align: center">List of all Admissions</h3>
				<hr>
				<table class="responsive-table centered highlight bordered" width="100%">
					<thead>
						<tr>
							<th style="text-align: center">Serial no.</th>
							<th style="text-align: center">Date</th>
							<th style="text-align: center">Name</th>
							<th style="text-align: center">Email</th>
							<th style="text-align: center">Phone</th>
							<th style="text-align: center">Action</th>

						</tr>
					</thead>
					<tbody>
						<% if (admissions){ %>
							<% admissions.forEach((admission, i) =>{ %>
								<tr class="hoverable" id="<%=admission._id%>">
									<td style="text-align: center">
										<%= i + 1 %>
									</td>
									<td style="text-align: center">
										<%=admission.date.toLocaleDateString("en-GB")%>
									</td>
									<td style="text-align: center">
										<%=admission.name%>
											</a>
									</td>
									<td style="text-align: center">
										<%=admission.emailId%>
											</a>
									</td>
									<td style="text-align: center">
										<%=admission.phone%>
											</a>
									</td>

									<td style="text-align: center">
											<a href="/admin/admissions/view/<%=admission._id%>" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="View this form"><i class="material-icons ">assignment</i></a>
										<br>
										<a style="cursor:pointer" onClick="confirmDelete(this)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete This form!"><i class="material-icons ">delete</i></a>
									</td>

								</tr>
								<% }) %>
									<% } %>
					</tbody>
				</table>
			</div>
		</div>

	</main>



	<script src="/js/admissionsDb.js"></script>

	<% include partials/footer.ejs%>
		<script type="text/javascript">
		</script>
