<% include partials/header.ejs%>

<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/db">Database</a></li>
            <li class="breadcrumb-item active" aria-current="page">Assignments</li>
        </ol>
    </nav>

    <table width="100%">
        <thead>
        <tr>
            <th width="(100/8)%" style="text-align: center">Serial no.</th>
            <th width="(100/8)%" style="text-align: center">Name</th>
            <th width="(100/8)%" style="text-align: center">Uploaded on</th>
            <th width="(100/8)%" style="text-align: center">Submit by</th>
            <th width="(100/8)%" style="text-align: center">For Batch</th>
            <th width="(100/8)%" style="text-align: center">Download Link</th>
            <th width="(100/8)%" style="text-align: center">Edit</th>
            <th width="(100/8)%" style="text-align: center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <%assignments.forEach(function (assignment, i) { %>
        <tr>
            <td width="(100/8)%" height="40px" style="text-align: center"><%=i+1%></td>
            <td width="(100/8)%" height="40px" style="text-align: center"><%=assignment.assignmentName%></td>
            <td width="(100/8)%" height="40px" style="text-align: center"><%=assignment.uploadDate%></td>
            <td width="(100/8)%" height="40px" style="text-align: center"><%=assignment.lastSubDate%></td>
            <% if(assignment.batch){ %>
                <td width="(100/8)%" height="40px" style="text-align: center"><%=assignment.batch.batchName%></td>
            <% }else{ %>
                <td width="(100/8)%" height="40px" style="text-align: center">--</td>
            <%}%>
            <td width="(100/8)%" height="40px" style="text-align: center">
                <a href="/assignment/<%=assignment._id%>">Download now</a>
            </td>
            <td width="(100/8)%" height="40px" style="text-align: center">
                <a class="btn btn-warning btn-sm" href="/assignment/<%=assignment._id%>/edit">Edit</a>
            </td>
            <td width="(100/8)%" height="40px" style="text-align: center">
                <form action="/assignment/<%=assignment._id%>?_method=delete" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                </form>
            </td>
        </tr>
        <%})%>

        </tbody>
    </table>
</div>

<% include partials/footer.ejs%>
