<% include partials/header.ejs%>
<% include partials/includeBS.ejs%>

	<div class="container">
		<div class="row">
			<div class="col s10 col s10">
				<h2><b>List of Assignments</b></h2>
			</div>
			<a href="/assignment/uploadAssignment" class="btn   new">New Assignment</a>
        </div>

		<div class="row">
			<div class="col-xs-2"><b>Name</b></div>
			<div class="col-xs-2"><b>Uploaded on</b></div>
            <div class="col-xs-2"><b>Submit by</b></div>
			<div class="col-xs-1"><b>For Batch</b></div>
			<div class="col-xs-1"><b>Download link</b></div>

		</div>

		<% if(foundAssignments && foundAssignments.length > 0){ %>
			<% foundAssignments.forEach(function(assignment){ %>
				<div class="row">
					<div class="col-xs-2"><%=assignment.assignmentName%></div>
					<div class="col-xs-2"><%=assignment.uploadDate%></div>
                    <div class="col-xs-2"><%=assignment.lastSubDate%></div>
                    <% if(assignment.batch){ %>
                        <div class="col-xs-1"><%=assignment.batch.batchName%></div>
                    <% }else{ %>
                        <div class="col-xs-1">---</div>
                    <%}%>
					<div class="col-xs-1">
						<a href="/assignment/<%=assignment._id%>">Download now</a>
					</div>

					<div class="col-xs-1">
						<a class="btn btn-warning btn-sm" href="/assignment/<%=assignment._id%>/edit">Edit</a>
					</div>
					<div class="col-xs-1">
						<form action="/assignment/<%=assignment._id%>?_method=delete" method="post">
							<input type="submit" value="Delete" class="btn btn-danger btn-sm">
						</form>
					</div>
				</div>
			<% }) %>
		<% } %>
	</div>
<% include partials/footer.ejs%>
