<% include partials/header.ejs%>
	<main>
			<a href="/admin/assignment/new" class="new btn-floating tooltipped waves-effect waves-light red pulse" data-position="bottom" data-delay="50" data-tooltip="New assignment" class="btn-floating tooltipped waves-effect waves-light red"><i class="material-icons">add</i></a>

		<div class="container">
			<div class="row">
				<div class="col m8 s12">
					<h3>
								List of Assignments
							</h3>
				</div>
				<div class="col m4">
				</div>
			</div>

			<table class="highlight bordered centered responsive-table" width="100%">
				<thead>
					<tr>
						<th width="(100/8)%" style="text-align: center">Serial no.</th>
						<th width="(100/8)%" style="text-align: center">Name</th>
						<th width="(100/8)%" style="text-align: center">Uploaded on</th>
						<th width="(100/8)%" style="text-align: center">Submit by</th>
						<th width="(100/8)%" style="text-align: center">For Batch</th>
						<th width="(100/8)%" style="text-align: center">Download</th>
						<th width="(100/8)%" style="text-align: center">Edit</th>
						<th width="(100/8)%" style="text-align: center">Delete</th>
					</tr>
				</thead>
				<tbody>
					<% if(foundAssignments && foundAssignments.length > 0){ %>
						<% foundAssignments.forEach(function(assignment, i){ %>
							<tr>
								<td width="(100/8)%" height="50px" style="text-align: center">
									<%=i+1%>
								</td>
								<td width="(100/8)%" height="50px" style="text-align: center">
									<%=assignment.assignmentName%>
								</td>
								<td width="(100/8)%" height="50px" style="text-align: center">
									<%=assignment.uploadDate%>
								</td>
								<td width="(100/8)%" height="50px" style="text-align: center">
									<%=assignment.lastSubDate%>
								</td>
								<% if(assignment.batch){ %>
									<td width="(100/8)%" height="50px" style="text-align: center">
										<%=assignment.batch.batchName%>
									</td>
									<% }else{ %>
										<td width="(100/8)%" height="50px" style="text-align: center">---</td>
										<%}%>
											<td width="(100/8)%" height="50px" style="text-align: center">
												<a href="/admin/assignment/<%=assignment._id%>">Download</a>
											</td>
											<td width="(100/8)%" height="50px" style="text-align: center">
												<a class="btn orange" href="/admin/assignment/<%=assignment._id%>/edit">Edit</a>
											</td>
											<td width="(100/8)%" height="50px" style="text-align: center">
												<form action="/admin/assignment/<%=assignment._id%>?_method=delete" method="post">
													<input type="submit" value="Delete" class="btn red">
												</form>
											</td>
							</tr>

							<% }) %>
								<% } %>
				</tbody>
			</table>


		</div>

	</main>
	<% include partials/footer.ejs%>
