<head>
    <title>Harvin Academy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="eSPtYedDuFnn9GWxmT-OZJtAugNRnUJwuZ65y7JDPfE" />
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../dist/css/css_materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- <link href="../dist/css/css_style.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
    <link href="../dist/css/css_materialize-social.css" type="text/css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20="
        crossorigin="anonymous" />
   


        <style>
        
.grid {
  display: grid;
  /* grid-column-gap: 112px; */
  grid-template-columns: 55% auto 37.5%;
}
.popular-section-col {
  grid-column: 1/2;
}
.news-letter-col {
  grid-column: 3/4;
  align-self: center;
}
.latest-post-grid {
  display: grid;
  grid-template-columns: 40% auto 55%;
  margin: 20px auto;
  grid-template-rows: 33% 33% 33%;
}
.latest-post-info {
  grid-column: 3/4;
}
.latest-post-image {
  grid-column: 1/2;
  max-height: 400px;
  min-height: 250px;
}
.popular-post-grid {
  display: grid;
  grid-template-columns: 40% auto 55%;
  margin: 20px auto;
}
.popular-post-info {
  grid-column: 3/4;
  height: 200
}
.popular-post-image {
  grid-column: 1/2;
}
 type_10{
     color: green,
     
 }
.latest-post-image{
  min-height: 150px;
}h1 { color: grey; 
      font-family: 'Raleway',sans-serif; 
      font-size: 62px; 
      font-weight: 800; 
      line-height: 72px; 
      margin: 0 0 24px; 
      text-align: center; 
      text-transform: uppercase; }

      .pagination-wrapper{
          text-align: center;
          display : block;
          margin : auto

      }
      .page-footer{
          background-color: #13b38b
      }

    
        </style>

    </head>
    <div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src =
      'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1054614874673150&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<!-- twitter scripts -->
<script>
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));
</script>


<main>


  <h1><%= categoryName %></h1>
  
<!-- <hr class="type_10" size ="2">  -->
   

    <%if (foundBlogs.length > 0) { %>
      
        <div class="container ">
                                  
                                     
              <% foundBlogs.forEach((blog, index) => { %>
                        
                        <!-- <div class="card  horizontal">
                                <div class="card-image responsive-img">
                                  <img src="/blogImage/<%=blog.coverImgName%>">
                                  <span class="card-title"><%=blog.blogTitle%></span>
                                </div>
                                <div class="card-content">
                                  <p><%=blog.uploadDate%></p>
                                </div>
                                <div class="card-action">
                                  <a href="/blog/<%=blog.url%>">Read more........</a>
                                </div>
                        </div>  -->
                        <div class="popular-post-grid z-depth-3">
                                <div class="popular-post-image" style="background:url('/blogImage/<%=blog.coverImgName%>');
                                background-size: cover;
                               background-repeat: no-repeat;">
                                </div>
                                <div class="popular-post-info">
                                  <a href="/blog/<%=blog.url%>" style="color:#000000c7;">
                                    <h5 class="dark-font">
                                      <%=blog.blogTitle%>
                                    </h5>
                                    <p>
                                      <%=blog.uploadDate%>
                                    </p>
                                  </a>
                                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                                    Tweet</a>
                                  <a class="fb-share-button" data-href="https://harvin.academy/blog/<%=blog.url%>" data-layout="button_count">
                                    Share
                                  </a>
                                
                                  </div>
                                  </div>
                            <% }) %>
                        </div>

                <% } %>
     
                <div class="pagination-wrapper">
                        <ul class="pagination">
                            <li class="waves-effect">
                                <a href="#!" id="prev-button" class="prev-button" onClick="prevPage()">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                            <%for(var i = 1; i <= count; i++){%>
                                <li class="waves-effect">
                                        <a href="/blog?page=<%=i%>" class="prev-button
                                        <%if(page==i){%>
                                            active-chip
                                            <%}%>
                                        ">
                                            <%=i%>
                                        </a>
                                </li>
                            <%}%>
                            <li class="waves-effect">
                                <a href="#1>" id="next-button" class="next-button" onClick="nextPage()">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        </ul>
                    </div>





    </main>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <% include partials/website_footer.ejs%>