    <!-- Title -->
<% include partials/website_header.ejs%>
    <title>Home-2 | Hexa Personal Blog</title>
    <!-- favicon Icon -->
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- site content here -->
    <!-- =========================== Main Header =========================== -->
    <!-- =========================== //Main Header =========================== -->
    <!-- =========================== Banner Post =========================== -->

    <!-- =========================== //Banner Post =========================== -->
    <!-- =========================== Catagory Area =========================== -->

    <!-- =========================== //Catagory Area =========================== -->
    <!-- =========================== Middle Content =========================== -->
    <div class="middle-content">
        <div class="container">
            <div class="row">
                <!-- ====================== Main .blog-area ====================== -->
                <main class="col-xl-8 col-lg-8 col-md-7 blog-area">
                    <!-- Single Blog -->
                    <% foundBlogs.forEach((blog, i) => { %>
                      <%if(i<4){%>
                      <article class="card single-blog text-center mt-5 mb-5 pt-0">
                          <mark class="catagory"><%=blog.category%></mark>
                          <h2 class="card-title h1"><%=blog.blogTitle%></h2>
                          <!-- Blog Content-->
                          <div class="blgo-content">
                              <a href="/blog/?title=<%=blog.blogTitle%>"><img class="card-img rounded-0" src="/blogImage/<%=blog.coverImgName%>" alt="Blog Image"></a>
                              <span class="posted-date"><%=blog.uploadDate%></span>
                          </div>
                          <!-- Card Body -->
                          <div class="card-body p-0">
                                <!-- <%-blog.blogContent%> -->


                              <a href="/blog/?title=<%=blog.blogTitle%>" class="read-more double-line">read more</a>
                              <!-- Card Footer -->
                          </div>
                          <div class="card-footer border-0 p-0 bg-white">
                              <div class="share-icons">
                                  <span>Share:</span>
                                  <a href="index.html#"><i class="fa fa-facebook"></i></a>
                                  <a href="index.html#"><i class="fa fa-twitter"></i></a>
                                  <a href="index.html#"><i class="fa fa-google-plus"></i></a>
                                  <a href="index.html#"><i class="fa fa-pinterest"></i></a>
                              </div>
                          </div>
                      </article>


                    <%}%>
                      <%if(i>=4){%>
                      <article class="card single-blog text-center mt-5 mb-5 pt-0" style="display: none;">
                          <mark class="catagory"><%=blog.category%></mark>
                          <h2 class="card-title h1"><%=blog.blogTitle%></h2>
                          <!-- Blog Content-->
                          <div class="blgo-content">
                              <a href="/blog/?title=<%=blog.blogTitle%>"><img class="card-img rounded-0" src="/blogImage/<%=blog.coverImgName%>" alt="Blog Image"></a>
                              <span class="posted-date"><%=blog.uploadDate%></span>
                          </div>
                          <!-- Card Body -->
                          <div class="card-body p-0">
                              <%if(blog.author){%>
                                <span class="posted-by">Posted By <mark class="admin"><%=blog.author.username%></mark></span>
                                <%}%>
                                <!-- <%-blog.blogContent%> -->


                              <a href="/blog/?title=<%=blog.blogTitle%>" class="read-more double-line">read more</a>
                              <!-- Card Footer -->
                          </div>
                          <div class="card-footer border-0 p-0 bg-white">
                              <div class="share-icons">
                                  <span>Share:</span>
                                  <a href="index.html#"><i class="fa fa-facebook"></i></a>
                                  <a href="index.html#"><i class="fa fa-twitter"></i></a>
                                  <a href="index.html#"><i class="fa fa-google-plus"></i></a>
                                  <a href="index.html#"><i class="fa fa-pinterest"></i></a>
                              </div>
                          </div>
                      </article>


                    <%}%>
                    <% }) %>
                    <!-- //Single Blog -->

<div class="row" style="justify-content:center;">

        <a class="btn-floating btn-large waves-effect waves-light red" onClick="expandMore()"><i class="material-icons">keyboard_arrow_down</i></a>

</div>
                    <!-- //Pagination -->
                </main>
                <!-- ====================== //Main .blog-area ====================== -->
                <!-- ====================== Aside .middle-sidebar ====================== -->
                <aside class="col-xl-3 col-lg-4 col-md-5 middle-sidebar ml-xl-auto pl-lg-0 pl-md-0 mt-sm-5 mt-lg-0">
                    <div class="row">
                        <!-- Sidebar Widget, About Me-->
                        <div class="col-xl-12 col-md-11 col-sm-6 ml-md-auto sidebar-about-me sidebar-widget pl-xl-0">
                            <h2 class="widget-title">ABOUT Us</h2>
                            <div class="card about-me text-center border-0 rounded-0 p-0">
                                <img class="card-img-top rounded-0" src="/images/hero01.jpg" alt="image cap">
                                <div class="card-body p-10">
                                    <h2 class="about-card-title mt-15 mb-20">Harvin Academy</h2>
                                    <p class="card-text">The trusted name for specialized tutoring.</p>
                                    <div class="icon-list">
                                        <a href="index.html#"><i class="fa fa-facebook"></i></a>
                                        <a href="index.html#"><i class="fa fa-twitter"></i></a>
                                        <a href="index.html#"><i class="fa fa-google-plus"></i></a>
                                        <a href="index.html#"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Widget, All Catagory-->

                        <!-- Sidebar Widget, Sidebar News Letter -->
                        <div class="col-xl-12 col-md-11 col-sm-6 ml-md-auto sidebar-news-letter sidebar-widget pl-xl-0">
                            <h2 class="widget-title">NEWS LETTER</h2>
                            <!-- New Letter-->
                            <div class="card news-letter border-0 rounded-0 p-15">
                                <div class="card-body p-0">
                                    <p class="card-text">If You Want to Know Our Update News Please Subscribe Us.</p>
                                    <form class="form-inline"  >
                                        <input type="text" placeholder="Enter your mail id">
                                        <button type="submit"><i class="fa fa-envelope disable"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Widget, Sidebar Advertise -->
                        <div class="col-xl-12 col-md-11 col-sm-6 ml-md-auto sidebar-advertise sidebar-widget pl-xl-0">
                            <h2 class="widget-title">ADVERTISE</h2>
                            <!-- ADVERTISE-->
                            <div class="card advertise border-0 rounded-0 p-15">
                                <div class="advertise-content">
                                    <img class="card-img" src="/assets/img/sidebar/7.jpg" alt="Card image">
                                    <div class="card-text">
                                        <span>270x370</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Widget, Sidebar Cloud Tag -->
                        <div class="col-xl-12 col-sm-11 ml-md-auto sidebar-cloud-tag sidebar-widget pl-xl-0">
                            <h2 class="widget-title">TAGS</h2>
                            <!-- ADVERTISE-->
                            <div class="card cloud-tag border-0 rounded-0">
                                <ul class="tag-list d-flex flex-wrap">
                                    <li><a href="#">Harvin Academy</a></li>
                                    <li><a href="#">Medical</a></li>
                                    <li><a href="#">AIIMS</a></li>
                                    <li><a href="#">MEDICAL ENTERANCE</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- ====================== //Aside .middle-sidebar ====================== -->
            </div>
        </div>
    </div>
    <!-- =========================== //Middle Content =========================== -->
    <!-- =========================== //Footer =========================== -->
        <!-- =========================== //Footer =========================== -->
    <!-- #preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- ======================= Scripts ======================= -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

<% include partials/website_footer.ejs%>
