<% include partials/header.ejs%>

		<link rel="stylesheet" href="/css/newBlog.css">
		<main>
<div class="section">
	<div class="container">
		<h3 style="text-align: center">List of all blogs</h3>
		<hr>
		<table class="responsive-table centered highlight bordered" width="100%">
			<thead>
				<tr>
					<th style="text-align: center">Serial no.</th>
					<th style="text-align: center">Date</th>
					<th style="text-align: center">Title</th>
					<th style="text-align: center">Publish Mode</th>
					<th style="text-align: center">Draft Mode</th>
				</tr>
			</thead>
			<tbody>
				<% if (blogs){ %>
					<% blogs.forEach((blog, i) =>{ %>
						<tr href="#modal-comment" class="modal-trigger">
							<td style="text-align: center">
								<%= i + 1 %>
							</td>
							<td style="text-align: center">
								<%=blog.uploadDate%>
							</td>
							<td style="text-align: center">
								<a href="/blog/?title=<%=blog.blogTitle%>"><%=blog.blogTitle%></a>
							</td>
							<td style="text-align: center">
								<%=blog.publish%>
							</td>
							<td style="text-align: center">
								<%=blog.draft%>
							</td>

						</tr>
						<% }) %>
							<% } %>
			</tbody>
		</table>
	</div>
</div>

		</main>



		<script src="/dist/clipboard.min.js"></script>

		<% include partials/footer.ejs%>
