<% include partials/header.ejs%>

		<link rel="stylesheet" href="/css/newBlog.css">
		<main>
<div class="section">
	<div class="container">
		<h3 style="text-align: center">List of all blogs</h3>
		<hr>
		<table class="responsive-table centered highlight bordered" width="100%">
			<thead>
				<tr>
					<th style="text-align: center">Serial no.</th>
					<th style="text-align: center">Date</th>
					<th style="text-align: center">Title</th>
					<th style="text-align: center">Publish Mode</th>
					<th style="text-align: center">Draft Mode</th>
					<th style="text-align: center">Action</th>
				</tr>
			</thead>
			<tbody>
				<% if (blogs){ %>
					<% blogs.forEach((blog, i) =>{ %>
						<tr class="hoverable">
							<td style="text-align: center">
								<%= i + 1 %>
							</td>
							<td style="text-align: center">
								<%=blog.uploadDate%>
							</td>
							<td style="text-align: center">
								<a href="/blog/?title=<%=blog.blogTitle%>"><%=blog.blogTitle%></a>
							</td>
							<td style="text-align: center">
								<%=blog.publish%>
							</td>
							<td style="text-align: center">
								<%=blog.draft%>
							</td>
							<td style="text-align: center">
							<a href="#" onClick="confirmDelete()"class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete This Post!"><i class="material-icons ">delete</i></a>
							<br>
							<a href="#"class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit This Post!"><i class="material-icons ">create</i></a>
							</td>

						</tr>
						<% }) %>
							<% } %>
			</tbody>
		</table>
	</div>
</div>

		</main>



		<script src="/dist/clipboard.min.js"></script>

		<% include partials/footer.ejs%>
		<script type="text/javascript">
function confirmDelete(){

			var $toastContent = $('<span>Are you sure you want to Delete this POST?</span>').add($('<button class="btn-flat toast-action" onClick="confirmed()">YES</button>')).add($('<button class="btn-flat toast-action" onClick="dismissed()">No</button>'));
			Materialize.toast($toastContent);


}
function dismissed(){
	Materialize.Toast.removeAll();
}
function confirmed(){
	Materialize.Toast.removeAll();
}
		</script>
