<head>
    <title>Harvin Academy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="eSPtYedDuFnn9GWxmT-OZJtAugNRnUJwuZ65y7JDPfE" />
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../dist/css/css_materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../dist/css/css_style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../dist/css/css_materialize-social.css" type="text/css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20="
        crossorigin="anonymous" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97403760-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-97403760-2');
    </script>

</head>

<!-- Stylesheets -->
<link rel="stylesheet" href="../dist/css/css_main.css">
<link rel="stylesheet" href="../dist/css/css_blogTheme.css">
<link rel="stylesheet" href="../dist/css/css_allBlogs.css">

<!-- share buttons -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src =
            'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1054614874673150&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- twitter scripts -->
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>

<body>
     <!-- NEW SECTION CHANGES FOR HERE -->
  <main>
        <div class="section " id="main-section">
    
    
          <h4 id="topmost" class="center-align">Harvin Academy</h4>
    
          <nav class="z-depth-0 ">
    
            <div class="nav-wrapper" id="top-nav">
              <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons" style="color:white;">menu</i>
              </a>
              <ul class="hide-on-small-only">
                <li>
                  <a href="/blog">Home</a>
                </li>
                <li>
                  <a href="/blog/category/motivational">Motivational</a>
                </li>
                <li>
                  <a href="/blog/category/about-harvin">College and Admissions</a>
              s  </li>
                <li>
                  <a href="/blog/category/Tips-and-Tricks">Tips and Tricks</a>
                </li>
                
                <li>
                  <a href="/blog/category/mdis">MDIS</a>
                </li>
                <li>
                  <a href="/blog/category/about-harvin">About Harvin</a>
                </li>
              </ul>
              <input type="text right" placeholder="Search..." id="top-search" />
              <ul class="side-nav" id="mobile-demo">
                <li>
                  <a href="sass.html">Sass</a>
                </li>
                <li>
                  <a href="badges.html">Components</a>
                </li>
                <li>
                  <a href="collapsible.html">Javascript</a>
                </li>
                <li>
                  <a href="mobile.html">Mobile</a>
                </li>
              </ul>
            </div>
          </nav>
    
          <div class="" id="banner-container">
    
            <div class="carousel carousel-slider center" data-indicators="true" style="height:100% !important;">
    
              <div class="carousel-item  white-text" href="#one!">
                <img onclick="window.location.href='./'" src="/images/banner-blog-4.jpg" class="banner-img" alt="" style="cursor:pointer">
              </div>
              <div class="carousel-item amber white-text" href="#two!">
                <img onclick="window.location.href='./../mdis'" src="/images/banner-blog-1.jpg" class="banner-img" alt="" style="cursor:pointer">
              </div>
              <div class="carousel-item green white-text" href="#three!">
                <img onclick="window.location.href='./'" src="/images/banner-blog-3.jpg" class="banner-img" alt="" style="cursor:pointer">
    
              </div>
              <div class="carousel-item blue white-text" href="#four!">
                <img onclick="window.location.href='./../results'" src="/images/banner-blog-2.jpg" class="banner-img" alt="" style="cursor:pointer">
    
              </div>
            </div>
    
        </div>
    <!-- <nav class="z-depth-0 no-pad">
        <div class="nav-wrapper ">
            <a href="#" class="brand-logo center">Harvin Academy</a>
        </div>
    </nav> -->
    <!-- NEW SECTION CHANGES FOR HERE -->
    <div class="">

    </div>
    <!-- NEW SECTION CHANGES TILL HERE -->
   

    <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter bigbang">
            <div class="gallery-curve-wrapper">
              <a class="gallery-cover gray">
                <img class="responsive-img" src="img/bigbang1.png" alt="placeholder">
              </a>
              <div class="gallery-header">
                <span>Gallery Link</span>
              </div>
              <div class="gallery-body">
                <div class="title-wrapper">
                  <h3>Grapefruit</h3>
                  <span class="price">$14.99</span>
                </div>
              </div>
              <div class="gallery-action">
                <a class="btn-floating btn-large waves-effect waves-light">
                  <i class="material-icons">favorite
                </i></a>
              </div>
            </div>
          </div>
    <div class="middle-content">
        <div class="container-fluid">
            <div class="row">
                <!-- ====================== Main .blog-area ====================== -->
                <div class="col-md-3"></div>
                <main class="col-md-6 blog-area">
                    <!-- Single Blog -->
                    <% foundBlogs.forEach((blog, i) => { %>
                            <article class="card single-blog text-center mt-5 mb-5 pt-0 pb-3" href="/blog/?title=<%=blog.url%>" href="/blog/<%=blog.url%>">



                                    <mark class="catagory">
                                        <%=blog.category%>
                                    </mark>
                                    <!-- Blog Content-->
                                    <a href="/blog/<%=blog.url%>" >
                                        <div class="blgo-content content" style="background-image:url(/blogImage/<%=blog.coverImgName%>)">
                                            <span class="posted-date">
                                                <%=blog.uploadDate%>
                                            </span>
                                        </div>
                                    </a>
                                    <!-- Card Body -->
                                    <div class="card-body p-0" href="/blog/<%=blog.url%>">
                                        <h2 class="card-title h1 blog-title" href="/blog/<%=blog.url%>">
                                            <a href="/blog/<%=blog.url%>" style="color:#000000c7;"><%=blog.blogTitle%></a>
                                        </h2>


                                        <a href="/blog/<%=blog.url%>" class="read-more double-line">read more</a>
                                        <!-- Card Footer -->
                                    </div>
                                    <div class="card-footer border-0 p-0 bg-white">
                                        <div class="share-icons">
                                            <span>Share:</span>
                                            <a class="fb-share-button" data-href="https://harvin.academy/blog/<%=blog.url%>" data-layout="button_count">

                                            </a>
                                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                                                Tweet</a>

                                        </div>
                                    </div>
                                </a>

                            </article>



                                        <% }) %>
                                            <!-- //Single Blog -->
                                            <!-- //Pagination -->

                                            <div class="pagination-wrapper">
                                                <ul class="pagination">
                                                    <li class="waves-effect">
                                                        <a href="#!" id="prev-button" class="prev-button" onClick="prevPage()">
                                                            <i class="material-icons">chevron_left</i>
                                                        </a>
                                                    </li>
                                                    <%for(var i = 1; i <= count; i++){%>
                                                        <li class="waves-effect">
                                                                <a href="/blog?page=<%=i%>" class="prev-button
                                                                <%if(page==i){%>
                                                                    active-chip
                                                                    <%}%>
                                                                ">
                                                                    <%=i%>
                                                                </a>
                                                        </li>
                                                    <%}%>
                                                    <li class="waves-effect">
                                                        <a href="#1>" id="next-button" class="next-button" onClick="nextPage()">
                                                            <i class="material-icons">chevron_right</i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                           
                </main>
                
            </div>
        </div>
    </div>
    <!-- =========================== //Middle Content =========================== -->
    <!-- =========================== //Footer =========================== -->
    <!-- =========================== //Footer =========================== -->
    <!-- #preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- ======================= Scripts ======================= -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/assets_js_main.js"></script>
    <script src="/js/blogTheme.js"></script>
    
    <% include partials/website_footer.ejs%>
    <script src="/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/blogTheme.js"></script>
    <script src="/js/materialize.js"></script>

    <script>
      function nextBanner() {
        $('.carousel').carousel('next');

        setTimeout(() => nextBanner(), 3000)
      }
      nextBanner()

    </script>
