<% include partials/header.ejs%>

  <main>
    <div class="container">
      <h5 class="center-align">Choose Question to add in Question paper</h5>
      <hr>
      <br>
      <br>
      <form id="showQuestions" action="/admin/exams/qbData" method="get">
        <div class="row">
            <div class="col s12 m4 input-field">
                <select required name="className" id="qb_classs">
                    <option selected value="" disabled>Class</option>
                     <%classes.forEach(function(classs){%>
                       <option value="<%=classs.className%>"><%=classs.className%></option>
                     <%})%>
              </select>
              <label>Select Class </label>
            </div>
            <div class="col s12 m4 input-field">
              <select required name="subjectName" id="qb_subject">
              </select>
              <label>Select Subject </label>
            </div>
            <div class="col s12 m4 input-field">
              <select required name="chapterName" id="qb_chapter">
              </select>
              <label>Select Chapter </label>
            </div>
        </div>
        <div class="center-align">
          <button class="btn blue" type="submit">Show Questions</button>
        </div>
        <input type="hidden" name="examId" value="<%=examId%>">
      </form>
      <hr>
      <% if(questions && questions.length > 0){ %>
        <h5 class="center-align">Questions available in</h5>
        <div class="row">
          <div class="col s12 m4">
            <h6><b>Class :</b> <i><%=className%></i></h6></b>
          </div>
          <div class="col s12 m4">
            <h6><b>Subject :</b> <i><%=subjectName%></i></h6></b>
          </div>
          <div class="col s12 m4">
            <h6><b>Chapter :</b> <i><%=chapterName%></i></h6></b>
          </div>

        </div>
        <form action="/admin/exams/<%=examId%>/question-paper/chooseFromQB" method="POST">
          <!--  -->
          <div class="section">
              <% questions.forEach(function(question, i){ %>
                <div class="card question-card hoverable">
                  <div class="card-content">
                    <b><%=i+1%>. </b>
                    <%=question.question%>
                    <br>
                    <div class="row">
                      <div class="col s6">
                        <hr>
                        <% question.newOptions.forEach(function(option){ %>
                          <p>
                            <input type="checkbox" disabled id="opt<%=i+1%>"
                            <%if(option.isAns){%>
                              checked="checked"
                            <%}%>
                            />
                            <label for="opt<%=i+1%>"><%=option.opt%></label>
                          </p>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                  <div class="card-action right-align">
                        <input type="checkbox" value="<%=question._id%>" name="questions" id="<%=i+1%>" />
                        <label for="<%=i+1%>">Add this Question</label>
                  </div>
                </div>
              <% }) %>
            </div>
            <div class="center-align">
                <button type="submit" class="btn">Add These Selected Questions</button>
            </div>
          <br>
          <br>
        </form>
        <% } %>


    </div>

  </main>
<script src="/js/QB.js"></script>
  <% include partials/footer.ejs%>
