<% include partials/header.ejs%>
  <main>


    <div class="container">
        <h4 class="center-align">Edit Question paper, for exam: <b> <i><%= exam.examName%></i> </b> </h4>
        <hr>
        <br>
        <br>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>Add a new Question to this question paper</div>
              <div class="collapsible-body"><span>
                  <form id="editQuestionPaper" class="addNewQuestion" action="/admin/exams/<%=exam._id%>/question-paper/" method="post">
                    <div class="row">
                        <div class="col s12 m4">
                          <div class="input-field ">
                            <input name="className" required type="text" id="className" autocomplete="off" class="autocomplete validate">
                            <label for="className">Class Name</label>
                          </div>
                        </div>

                        <div class="col s12 m4">
                          <div class="input-field ">
                            <input name="subjectName" required type="text" id="subjectName" autocomplete="off" class="autocomplete validate">
                            <label for="subjectName">Subject Name</label>
                          </div>
                        </div>

                        <div class="col s12 m4">
                          <div class="input-field ">
                            <input name="chapterName" required type="text" id="chapterName" autocomplete="off" class="autocomplete validate">
                            <label for="chapterName">Chapter Name</label>
                          </div>
                        </div>
                      </div>
                    <div class="form-group">

                      <div class="row">
                          <div class="input-field">
                            <textarea id="question" required validate name="question" placeholder="e.g: Delhi is a...?" class="materialize-textarea"></textarea>
                            <label for="question">Question</label>
                          </div>
                        </div>
                        <div class="row">
                          <div id="addNewQuestion"  class="col s6">
                            <p class="center-align">Options</p>
                            <div class="input-append">
                              <div id="field">
                                <input required name="options" autocomplete="off" class="input opt glowing-border" id="field1" type="text" />
                                <button id="b1" class="btn add-more" type="button">+</button>
                              </div>
                            </div>
                          </div>
                          <div class="col s6">
                            <div class="form-group">
                              <p class="center-align">Answers</p>
                            <div class="col s9" id="answers"></div>
                          </div>
                        </div>
                    </div>
                    <hr>
                    <div class="center-align">
                        <button class="btn blue" type="submit">Add this question</button>
                        <span style="margin:20px;"><b><i>OR</i></b></span>
                        <a href="/admin/exams/<%=exam._id%>/question-paper/chooseFromQB" class="btn light-green">Choose Questions from DB</a>
                      </div>
                    </div>
                  </form>
              </span></div>
            </li>
          </ul>

          <br>
          <br>

        <h5 class="center-align">Questions available in this question paper</h5>
        <!--  -->
        <div class="section">
            <% if(exam.questionPaper && questions.length > 0){ %>
            <% questions.forEach(function(question, i){ %>
              <div class="card question-card hoverable">
                <div class="card-content">
                  <b><%=i+1%>. </b>
                  <%=question.question%>
                  <br>
                  <div class="row">
                    <div class="col s6">
                      <hr>
                      <% question.newOptions.forEach(function(option){ %>
                        <p>
                          <input type="checkbox" disabled id="opt<%=i+1%>"
                          <%if(option.isAns){%>
                            checked="checked"
                          <%}%>
                          />
                          <label for="opt<%=i+1%>"><%=option.opt%></label>
                        </p>
                      <% }) %>
                    </div>
                  </div>
                </div>
                <div class="card-action right-align">
                  <!-- <a href="#!" class="blue-text "><i class="material-icons">create</i></a> -->
                  <a href="/admin/questionBank/<%=question._id%>?_method=delete" class="red-text question-delete-button"><i class="material-icons">delete_forever</i></a>
                </div>
              </div>
            <% }) %>
            <% } %>
          </div>

        <!--  -->

    </div>


  </main>
  <script src="/js/QB.js"></script>
  <script src="/js/questionBank.js"></script>
  <% include partials/footer.ejs%>
