<% include partials/header.ejs%>
	<main>
		<h1 style="text-align: center">Upload new Assignment</h1>

		<div class="container">
			<div style="width: 50%; margin:25px auto;">
				<form action="/admin/assignment/<%=assignment._id%>?_method=put" method="post" class="form-horizontal">
					<div class="row">
						<div class="input-field col s6">
							<input required id="assignmentName" type="text" name="assignmentName" class="validate" value="<%=assignment.assignmentName%>">
							<label for="assignmentName">Assignment Name</label>
						</div>
						<div class="col s6">
							<label for="lastSubDate">Last Submission Date</label>
							<input id="lastSubDate" name="lastSubDate" class="datepicker validate" placeholder="Choose date" value="<%=assignment.lastSubDate%>">
						</div>
					</div>
					<div class="row">

						<div class="input-field col s6">
							<select name="batchName" id="forBatch">
								<option value="" disabled selected>For which Batch</option>
								<%batches.forEach(function (batch) {%>
									<option value="<%=batch._id%>"
											<% if(assignment.batch){ %>
											<%if(assignment.batch._id.toString() == batch._id.toString()){%>
												selected
											<%}%>
											<% }else{ %>
											<%}%>
													><%=batch.batchName%></option>
											<%})%>
							</select>
						</div>
					</div>
					<div class="row center-align">
						<input type="submit" class="btn">
					</div>
				</form>
			</div>
		</div>
	</main>
	<% include partials/footer.ejs%>
