
<% include partials/header.ejs%>
		<main>

			<div class="section">
				<div class="container">
          <h3 class="center">Edit Course</h3>
					<form method="post" class="newBlogForm" enctype="multipart/form-data" action="/admin/courses" method="post">
						<input type="text" name="courseId" value="<%=foundCourse._id%>" hidden>
						<div class="row">
							<div class="input-field">
								<input id="courseName" type="text" name="courseName" value="<%=foundCourse.courseName%>" required class="validate">
								<label for="courseName">Course Name</label>
							</div>
						</div>
						<div class="row">
							<div class="file-field input-field">
								<div class="btn file-btn">
									<span>File</span>
									<input type="file" name="courseImage">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" placeholder="Course Image" type="text">

								</div>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input id="courseTimings" type="text" value="<%=foundCourse.courseTimings%>" name="courseTimings" class="">
								<label for="courseTimings">Class Timings</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input id="startFrom" type="text" name="courseStartingFrom" value="<%=foundCourse.courseStartingFrom%>"  class="datepicker">
								<label for="startFrom">Course Starting from</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input id="courseFrequency" type="text" name="courseFrequency" value="<%=foundCourse.courseFrequency%>"  class="">
								<label for="courseFrequency">Course Frequency</label>
							</div>
						</div>
						<!-- <input id="courseDescriptionHidden" type="hidden" value="<%=foundCourse.courseDescription%>"  class=""> -->
						<div class="row">
							<div class="input-field">
								<textarea id="courseDescription" name="courseDescription"  required class="materialize-textarea"><%=foundCourse.courseDescription%></textarea>
								<label for="courseDescription">Course Description</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input id="courseFor" type="text" name="courseFor" value="<%=foundCourse.courseFor%>" required class="validate">
								<label for="courseFor">Course For</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input id="courseAdmissionThrough" type="text" value="<%=foundCourse.courseAdmissionThrough%>" name="courseAdmissionThrough" required class="validate">
								<label for="courseAdmissionThrough">Course Admission Through</label>
							</div>
						</div>


						<div class="row">
							<div class="center-align">
								<button class="btn" id="submit-button">Submit</button>
							</div>
						</div>
					</form>

					<div class="row">
						<div class="col s12">
							<div id="editor1" contenteditable="true">

							</div>
						</div>
					</div>
				</div>
			</div>
		</main>


		<% include partials/footer.ejs%>
		<!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <!-- <script src="/js/materialize.js"></script> -->
