<% include partials/header.ejs%>
	<main>

		<div class="container">
			<h3 class="center-align">Edit exam: <b> <i><%= exam.examName%></i> </b> </h3>
			<hr>
			<form action="/admin/exams/<%=exam._id%>?_method=put" method="post">
				<div class="row">
					<div class="input-field col s6">
						<input id="examName" type="text" name="examName" class="validate" value="<%=exam.examName%>">
						<label for="examName">Exam Name</label>
					</div>
					<div class="col s6">
						<label for="examDate">Exam Date</label>
						<input id="examDate" name="examDate" class="datepicker validate" placeholder="Choose date" value="<%=exam.examDate%>">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<select required name="examType" id="examType">
							<option value="" selected disabled>Choose Question Type</option>
							<option value="True - False"
                  <%if(exam.examType == "True - False"){%>
                      selected
                  <%}%>
              >True - False</option>
              <option value="MCQ- Only 1 correct"
                  <%if(exam.examType == "MCQ- Only 1 correct"){%>
                      selected
                  <%}%>
              >MCQ- Only 1 correct</option>
              <option value="MCQ- More than 1 correct"
                  <%if(exam.examType == "MCQ- More than 1 correct"){%>
                      selected
                  <%}%>
              >MCQ- More than 1 correct</option>
              <option value="Mixed"
                  <%if(exam.examType == "Mixed"){%>
                      selected
                  <%}%>
              >Mixed</option>
			</select>
					</div>
					<div class="input-field col s6">
						<select name="batchName" id="forBatch">
					<option value="" disabled selected>For which Batch</option>
					<%batches.forEach(function (batch) {%>
              <option value="<%=batch._id%>"
                  <% if(exam.batch){ %>
                          <%if(exam.batch._id.toString() == batch._id.toString()){%>
                              selected
                  <%}%>
                  <% }else{ %>

                  <%}%>

              ><%=batch.batchName%></option>
          <%})%>
				</select>
					</div>
				</div>


				<div class="row">
					<div class="input-field col s6">
						<input id="totalTime" type="number" name="totalTime" class="validate" value="<%=exam.totalTime%>">
						<label for="totalTime">Total time (in Minutes)</label>
					</div>
					<div class="input-field col s6">
						<input id="posMarks" name="posMarks" type="number" class="validate" value="<%=exam.positiveMarks%>">
						<label for="posMarks">Positive Marks</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="negMarks" name="negMarks" type="number" class="validate" value="<%=exam.negativeMarks%>">
						<label for="negMarks">Negative Marks</label>
					</div>
					<div class="input-field col s6">
						<input id="maxMarks" name="maxMarks" type="number" class="validate" value="<%=exam.maximumMarks%>">
						<label for="maxMarks">Maximum Marks</label>
					</div>
				</div>

				<div class="row center-align">
					<input type="submit" class="btn">
				</div>
			</form>
		</div>


	</main>
	<% include partials/footer.ejs%>
