<% include partials/header.ejs%>

<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/db">Database</a></li>
            <li class="breadcrumb-item active" aria-current="page">Exams</li>
        </ol>
    </nav>

    <table width="100%">
        <thead>
        <tr>
            <th width="(100/7)%" style="text-align: center">Serial no.</th>
            <th width="(100/7)%" style="text-align: center">Name</th>
            <th width="(100/7)%" style="text-align: center">Date</th>
            <th width="(100/7)%" style="text-align: center">Type</th>
            <th width="(100/7)%" style="text-align: center">Positive marks</th>
            <th width="(100/7)%" style="text-align: center">Negative marks</th>
            <th width="(100/7)%" style="text-align: center">Total time(in Minutes)</th>
        </tr>
        </thead>
        <tbody>
        <%exams.forEach(function (exam, i) { %>
        <tr>
            <td width="(100/7)%" style="text-align: center"><%=i+1%></td>
            <td width="(100/7)%" style="text-align: center"><div class="col-xs-2">
                    <a href="/exams/<%=exam._id%>/question-paper/"><%=exam.examName%></a>
                </div></td>
            <td width="(100/7)%" style="text-align: center"><%=exam.examDate%></td>
            <td width="(100/7)%" style="text-align: center"><%=exam.examType%></td>
            <td width="(100/7)%" style="text-align: center"><%=exam.positiveMarks%></td>
            <td width="(100/7)%" style="text-align: center"><%=exam.negativeMarks%></td>
            <td width="(100/7)%" style="text-align: center"><%=exam.totalTime%></td>
        </tr>
        <%})%>

        </tbody>
    </table>
</div>

<% include partials/footer.ejs%>
