<% include partials/header.ejs%>

<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/db">Database</a></li>
            <li class="breadcrumb-item active" aria-current="page">Exams</li>
        </ol>
    </nav>

    <table width="100%">
        <thead>
        <tr>
            <th width="(100/10)%" style="text-align: center">Serial no.</th>
            <th width="(100/10)%" style="text-align: center">Name</th>
            <th width="(100/10)%" style="text-align: center">Date</th>
            <th width="(100/10)%" style="text-align: center">Type</th>
            <th width="(100/10)%" style="text-align: center">For Batch</th>
            <th width="(100/10)%" style="text-align: center">Positive marks</th>
            <th width="(100/10)%" style="text-align: center">Negative marks</th>
            <th width="(100/10)%" style="text-align: center">Total time(in Minutes)</th>
            <th width="(100/10)%" style="text-align: center">Edit</th>
            <th width="(100/10)%" style="text-align: center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <%exams.forEach(function (exam, i) { %>
        <tr>
            <td width="(100/10)%" height="40px" style="text-align: center"><%=i+1%></td>
            <td width="(100/10)%" height="40px" style="text-align: center"><div class="col-xs-2">
                    <a href="/exams/<%=exam._id%>/question-paper/"><%=exam.examName%></a>
                </div></td>
            <td width="(100/10)%" height="40px" style="text-align: center"><%=exam.examDate%></td>
            <td width="(100/10)%" height="40px" style="text-align: center"><%=exam.examType%></td>
            <% if(exam.batch){ %>
                <td width="(100/10)%" height="40px" style="text-align: center"><%=exam.batch.batchName%></td>
            <% }else{ %>
                <td width="(100/10)%" height="40px" style="text-align: center">--</td>
            <%}%>
            <td width="(100/10)%" height="40px" style="text-align: center"><%=exam.positiveMarks%></td>
            <td width="(100/10)%" height="40px" style="text-align: center"><%=exam.negativeMarks%></td>
            <td width="(100/10)%" height="40px" style="text-align: center"><%=exam.totalTime%></td>
            <td width="(100/10)%" height="40px" style="text-align: center">
                <a class="btn btn-warning btn-sm" href="/exams/<%=exam._id%>/edit">Edit</a>
            </td>
            <td width="(100/10)%" height="40px" style="text-align: center">
                <form action="/exams/<%=exam._id%>?_method=delete" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                </form>
            </td>

        </tr>

        <%})%>

        </tbody>
    </table>
</div>

<% include partials/footer.ejs%>
