<% include partials/header.ejs%>
	<main>
		<a href="/admin/exams/new" id="newExamButton" class="new btn-floating tooltipped waves-effect waves-light red pulse" data-position="bottom" data-delay="50" data-tooltip="Set a new Exam" class="btn-floating tooltipped waves-effect waves-light red"><i class="material-icons">add</i></a>
		<div class="container">
			<div class="row">
				<div class="col m9 s12">
					<h3>
					List of exams
				</h3>
				</div>
			</div>
			<table class="responsive-table centered bordered highlight">
				<thead>
					<tr>
						<th >Serial no.</th>
						<th >Name</th>
						<th >Date</th>
						<th >Type</th>
						<th >For Batch</th>
						<th >Positive Marks</th>
						<th >Negative Marks</th>
						<th >Maximum Marks</th>
						<th >Total Time</th>
						<th >Edit</th>
						<th >Delete</th>
					</tr>
				</thead>
				<tbody>
					<% if(foundExams && foundExams.length > 0){ %>
						<% foundExams.forEach(function(exam, i){ %>
							<tr>
								<th >
									<a href="/admin/exams/<%=exam._id%>/question-paper/">
										<%=i+1%>
									</a>
								</th>
								<th >
									<a href="/admin/exams/<%=exam._id%>/question-paper/">
										<%=exam.examName%>
									</a>
								</th>
								<th >
									<%=exam.examDate%>
								</th>
								<th >
									<%=exam.examType%>
								</th>
								<% if(exam.batch){ %>
									<th >
										<%=exam.batch.batchName%>
									</th>
									<% }else{ %>
										<th >---</th>
										<%}%>
											<th >
												<%=exam.positiveMarks%>
											</th>
											<th >
												<%=exam.negativeMarks%>
											</th>
											<th >
												<%=exam.maximumMarks%>
											</th>
											<th >
												<%=exam.totalTime%>
											</th>
											<th >
												<a class="btn orange" href="/admin/exams/<%=exam._id%>/edit">Edit</a>
											</th>
											<th >
												<form action="/admin/exams/<%=exam._id%>?_method=delete" method="post">
													<input type="submit" value="Delete" class="btn red">
												</form>
											</th>
							</tr>
							<% }) %>
								<% } %>
				</tbody>
			</table>
		</div>
	</main>

	<% include partials/footer.ejs%>
