<% include partials/header.ejs%>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-12">
				<h2><b>List of exams</b></h2>
			</div>
			<a href="/exams/new" class="btn btn-primary new">Set An Exam</a>
        </div>
		
		<div class="row">
			<div class="col-xs-2"><b>Name</b></div>
			<div class="col-xs-2"><b>Date</b></div>
			<div class="col-xs-2"><b>Type</b></div>
			<div class="col-xs-1"><b>Positive Marks</b></div>
            <div class="col-xs-1"><b>Negative Marks</b></div>
            <div class="col-xs-1"><b>Total Time</b></div>
		</div>
		
		<% if(foundExams && foundExams.length > 0){ %>
			<% foundExams.forEach(function(exam){ %>
				<div class="row">
					<div class="col-xs-2">
						<a href="/exams/<%=exam._id%>/question-paper/"><%=exam.examName%></a>
					</div>
					<div class="col-xs-2"><%=exam.examDate%></div>
					<div class="col-xs-2"><%=exam.examType%></div>
					<div class="col-xs-1"><%=exam.positiveMarks%></div>
					<div class="col-xs-1"><%=exam.negativeMarks%></div>
					<div class="col-xs-1"><%=exam.totalTime%></div>

					<div class="col-xs-1">
						<a class="btn btn-warning btn-sm" href="/exams/<%=exam._id%>/edit">Edit</a>
					</div>
					<div class="col-xs-1">
						<form action="/exams/<%=exam._id%>?_method=delete" method="post">
							<input type="submit" value="Delete" class="btn btn-danger btn-sm">
						</form>
					</div>
				</div>
			<% }) %>
		<% } %>
	</div>
<% include partials/footer.ejs%>

