<%include  partials/website_header.ejs%>
	<style>
		#navbar {
			margin-top: 4em;

		}

		#navbar>div {
			height: 100%;
		}
	</style>
	<!-- <link href="../css/homePage.css" type="text/css" rel="stylesheet" /> -->
	<meta name="google-site-verification" content="eSPtYedDuFnn9GWxmT-OZJtAugNRnUJwuZ65y7JDPfE" />

	<main>



		<div class="section" id="fst-section-main">
			<div class=" container" id="fst-section">

				<div id="left-sec">
					<h4>WELCOME TO HARVIN ACADEMY</h4>
					<h5>The premier Institute of PMT | IIT-JEE</h5>
					<br>
					<br>
					<a class="waves-effect waves-light btn">about us</a>
				</div>
				<div id="right-sec">
					<div id="passion-for-education">
						<div class="carousel carousel-slider center" data-indicators="true">

							<div class="carousel-item white-text" href="#one!">
								<h5> Passion For Education </h5>
								<p>Harvin Academy is a sincere effort by acclaimed academicians and professionals to ease your pursuit of success by
									providing you Total Quality Management for your budding career plans.</p>

								<p>Come and Feel the Difference</p>
							</div>
							<div class="carousel-item white-text" href="#two!">
								<h5>MDIS</h5>
								<p class="white-text">MDIS conducts an entrance examination for students interested in pursuing MBBS from abroad. Harvin Academy provides
									coaching for the MDIS entrance exam at a very nominal fee</p>
								<a class="waves-effect waves-light btn" href="./mdis">
									Read More
								</a>
							</div>

						</div>
					</div>
					<div id="next-info" class="card">
						<div class="card-content">
							<!-- <i class="fas fa-user-graduate"></i> -->
							<!-- <i class="fa fa-user-o" aria-hidden="true"></i> -->
							<img src="/icons/noun_872574_cc.png" class="my-icons" alt="">
							<!-- <br> -->
							<p>Droppers Batch For NEET and IIT JEE</p>
							<br>
							<p>Started from 15th June at Harvin Academy Preet Vihar and Harvin Academy Janakpuri.</p>
						</div>
					</div>
					<div id="vid">
						<iframe src="https://www.youtube.com/embed/wvUDeika_tY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
						 allowfullscreen></iframe>
					</div>
				</div>
			</div>

		</div>


		<div class="section container" id="scnd-section">
			<div class="features">
				<div class="card-content">
					<img src="/icons/home3-sv2.png" class="my-icons" alt="">
					<p>HIGHLY QUALIFIED AND TRAINED FACULTY</p>
					<p>The most important factors in raising student achievement is a highly qualified teacher.</p>
				</div>

			</div>
			<div class="features">
				<div class="card-content">
					<img src="/icons/home2-icon3.png" class="my-icons" alt="">

					<p>SYSTEMATIC AND PLANNED TEACHING</p>
					<p>Systematic and planned teaching routine, structured approach to help students.</p>
				</div>

			</div>
			<div class="features">
				<div class="card-content">
					<img src="/icons/home2-icon2.png" class="my-icons" alt="">

					<p>PERSONAL PROBLEM ON SOLVING SESSIOIN</p>
					<p>Identifying problem, developing possible solution and taking the appropriate course of action.</p>
				</div>

			</div>

		</div>
		<div id="popular-course-heading">
			<h4>POPULAR COURSES</h4>
			<p>Provides course for Medical And Engineering</p>
			<hr class="short-hr">
		</div>
		<div class="section container" id="thrd-section">

			<%foundCourses.forEach(function(course) {%>

				<div class="course-card">
					<div class="card">
						<div class="card-image">
							<img src="/courseImages/<%=course.courseImage%>" class="responsive-img">
							<span class="card-title course-card-title">
								<%=course.courseName%>
							</span>
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="/courses-list/?title=<%=course.courseUrl%>">
								<i class="material-icons">near_me</i>
							</a>
						</div>

						<div class="card-content">
							<p class="truncate">
								<%=course.courseFor%>
							</p>
						</div>
					</div>
				</div>
				<%})%>
		</div>
		<img src="/images/banner1.jpeg" id="testimonials-banner-img" alt="Banner">
		<div id="overlay-testimonials-section"></div>
		<div class="section container" id="testimonials">
			<div id="testimonials-overlay-content">
				<h4>LET'S TRY OUR UTILITIES</h4>
				<p>When you learn in Harvin Academy, you get access to our utilities</p>
				<hr class="short-hr">
				<div id="feature-utilities" class="z-depth-3">
					<div class="features">
						<div class="card-content">
							<img src="/icons/home3-sv8.png" class="my-icons" alt="">
							<p>ADEQUATE LIBRARY FACILITY</p>
						</div>

					</div>
					<div class="features">
						<div class="card-content">
							<img src="/icons/home3-sv3.png" class="my-icons" alt="">
							<p>GROUP DISCUSSION & READING ROOM</p>
						</div>

					</div>
					<div class="features">
						<div class="card-content">
							<img src="/icons/home3-sv6.png" class="my-icons" alt="">
							<p>PRACTICAL LAB</p>
						</div>
					</div>
				</div>


				<!-- results -->
				<!-- Our Results -->
				<div class="section" id="content">
					<div id="content">
						<div class="container">

							<div class="row">
								<div class="col s12 center">
									<br>
									<h3 class="bold" style="color:#303130e6">OUR RESULTS</h3>
									<p style="color: #504f4f"> Harvin Academy proudly announces best result for NEET Exam</p>
									<hr class="short-hr">
									<% if (students){ %>
										<% students.forEach((student, i) =>{ %>
											<%if(student.category == 'results'){%>
												<%if(i<8){%>
													<div class="col s6 m4 l3 materialboxed">
														<img class="responsive-img z-depth-4 " id="result-image" src="<%=student.src%>">
														</img>
													</div>
													<%}%>
														<%}%>
															<% }) %>
																<% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end results -->
				<h4>HAPPY STUDENTS</h4>
				<p>What students have to say</p>
				<hr class="short-hr">
				<div class="carousel carousel-slider center" id="testimonials-wrapper" data-indicators="true">
					<div class="carousel-item white black-text" href="#one!">
						<i class="fa fa-quote-right" aria-hidden="true"></i>
						<p class="black-text testimonial-text">Harvin showed me the right path to reach my target that i had chosen.Harvin Academy aid to my dream of becoming a doctor.</p>
						<img class="testimonialImg responsive-img" src="/images/testimonials/adnan-malik.jpg">
					</div>
					<div class="carousel-item white black-text" href="#one!">
						<i class="fa fa-quote-right" aria-hidden="true"></i>
						<p class="black-text testimonial-text">I am grateful to Harvin Academy for helping me achieve this golden dream of clearing the NEET exam.</p>
						<img class="testimonialImg responsive-img" src="/images/testimonials/akanksha-gupta.jpg">
					</div>
					<div class="carousel-item white black-text" href="#one!">
						<i class="fa fa-quote-right" aria-hidden="true"></i>
						<p class="black-text testimonial-text">I feel lucky to be a part of Harin Academy and thankful for helping me achieve my goal. The faculty is amazing and
							healpful.
						</p>
						<img class="testimonialImg responsive-img" src="/images/testimonials/amulya-gupta.jpg">
					</div>
					<div class="carousel-item white black-text" href="#one!">
						<i class="fa fa-quote-right" aria-hidden="true"></i>
						<p class="black-text testimonial-text">I feel obliged to Harvin Academy for helping me achive this milestone. Harvin Academy helped me a lot achieve my goal.</p>
						<img class="testimonialImg responsive-img" src="/images/testimonials/kritika-gupta.jpg">
					</div>
					<div class="carousel-item white black-text" href="#one!">
						<i class="fa fa-quote-right" aria-hidden="true"></i>
						<p class="black-text testimonial-text">Harvin Academy is the Mecca of Medical Education. It has really helped me a lot to shape my career and case my path
							in getting admission in Medical College.</p>
						<img class="testimonialImg responsive-img" src="/images/testimonials/simran-sarthi.jpg">
					</div>
				</div>
			</div>
		</div>

		<div class="section" id="download-app-section">
			<div class="container" id="download-app-container">
				<h3 class="section-heading white-text center-align" id="download-our-app">DOWNLOAD OUR APP</h3>
				<div class="row">
					<div class="col s12 m4 l4" style="
					display: flex;
					justify-content: center;">
						<div id="important-dates" style="z-index: 100;">
							<div class="dates">
								<i class="medium material-icons green-text">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">Study Material</h5>
									<p class="important-dates-p">Access to all Biology and Maths chapters to study while on the go.</p>
								</div>
							</div>
							<div class="dates">
								<i class="medium material-icons green-text">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Test Series</h5>
									<p class="important-dates-p">Exclusive access to test series with answer key to test yourself.
									</p>
								</div>
							</div>
							<div class="dates">
								<i class="medium material-icons green-text">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Online Test</h5>
									<p class="important-dates-p">Numerous online MCQ tests available to choose from. </p>
								</div>
							</div>
						</div>

					</div>
					<div class="col s6 m4 l4 center hide-on-small-only" style="
					display: flex;
					justify-content: center;">
						<img src="/images/phoneFrame.png" style="max-height:400px;z-index:1; margin-top: -40px;" alt="">
					</div>

					<div class="col s12 m4 l4" style="
					display: flex;
					justify-content: center;">
						<div id="important-dates" style="z-index: 100;">
							<div class="dates">
								<i class="medium material-icons green-text">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Save Offline</h5>
									<p class="important-dates-p">Download assignments with net connectivity and use them wherever you go.</p>
								</div>
							</div>
							<div class="dates">
								<i class="medium material-icons green-text">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										User Friendly</h5>
									<p class="important-dates-p">Easy access to our in-app features with low data usage.</p>
								</div>
							</div>
							<div class="dates">
								<i class="medium material-icons green-text">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Regular Updates</h5>
									<p class="important-dates-p">New assignments and test series added regularly for more practice of the students.</p>
								</div>
							</div>
						</div>

					</div>

				</div>
				<div class="row hide-on-small-only" id="download-links">
					<img src="/images/playstore.png" alt="">
					<img src="/images/appstore.svg" alt="">
				</div>
			</div>
		</div>

		<div class="section" id="blog-section">
			<div class="container">

				<div class="row center">
					<h3 class="section-heading" id="daily-blogs">DAILY BLOGS</h3>
					<p>From our blogs</p>
					<div id="popular-blogs-wrapper">
						<%foundPopularBlogs.forEach(function(blog) {%>

							<div class="course-card">
								<div class="card1">
									<div class="card-image blog-card-img-title" style="background: url(/blogImage/<%=blog.coverImgName%>) no-repeat center center; height: 300px; -webkit-background-size: cover;
											-moz-background-size: cover;
											-o-background-size: cover;
											background-size: cover;">

									</div>
									<div class="card-content" style="
									text-align:  left;
								">
										<a href="/blog/<%=blog.url%>">
											<span class="why-title">
												<%=blog.blogTitle%>
											</span>
										</a>
										<hr class="midium-hr">

										<p class="truncate blog-title">
											<%-blog.desc%>
										</p>
									</div>
									<div class="card-action left">
										<a href="/blog/<%=blog.url%>">Read more...</a>
									</div>
								</div>
							</div>
							<%})%>

					</div>
					<br>
					<a class="btn waves-effect white inverted-button" id="view-all-blogs-btn" href="/blog">VIEW ALL</a>

				</div>

			</div>
		</div>

		<div class="card hoverable" id="register-now-card">
			<div class="card-image ">
				<h4 class="register-card-title center">REGISTER NOW</h4>
			</div>
			<div class="card-content">
				<div class="row center">

					<div class="input-field col s12">
						<input id="first_name" type="text" class="validate">
						<label for="first_name">First name</label>
					</div>

					<div class="input-field col s12">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Last Name</label>
					</div>

					<div class="input-field col s12">
						<input id="email" type="text" class="validate">
						<label for="email">Email</label>
					</div>

					<a class="btn waves-effect " style="background-color: #13b38b;">SIGN UP</a>


				</div>
			</div>
		</div>

		<div class="section " id="register-now-section">




			<div class="mapouter">
				<div class="gmap_canvas">
					<iframe id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56025.53693796154!2d77.25
			678771665312!3d28.641866248905934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m
			2!1s0x390cfb56d7a68be1%3A0xc0d24e384452c9f7!2sHarvin+Academy!5e0!3m2!1sen!2sin!4
			v1493884209281" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">H</iframe>
					<a href="https://www.maps-erstellen.de"></a>
				</div>
			</div>

		</div>
	</main>
	<%include partials/website_footer.ejs%>



		<div href="#modal1" class="fixed-action-btn modal-trigger">
			<a class="btn-floating btn-large red">
				<i class="large material-icons">email</i>
			</a>

		</div>
		<!-- Modal Structure -->
		<div id="modal1" class="modal bottom-sheet custom-modal center">
			<div class="modal-content center">
				<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup {
						background: #fff;
						clear: left;
						font: 14px Helvetica, Arial, sans-serif;
					}

					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
								 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
					<form action="https://academy.us16.list-manage.com/subscribe/post?u=98eb19cadfaa9a468fe39224c&amp;id=5a034fba88" method="post"
					 id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<label for="mce-EMAIL">Subscribe to Harvin Academy</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_98eb19cadfaa9a468fe39224c_5a034fba88" tabindex="-1" value="">
							</div>
							<div class="clear">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
							</div>
						</div>
					</form>
				</div>

				<!--End mc_embed_signup-->
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>

		<script>
			$('.carousel.carousel-slider').carousel({ fullWidth: true });

			let isMdisVisible = false;

			let $passionForEdu = $('#passion-for-education').children('h5')
			let $passionForEduDetails = $('#passion-for-education').children('p')

			function nextTestimonial() {
				$('.carousel').carousel('next');
				if (isMdisVisible) {
					$passionForEdu.text('Passion For Education')
					$passionForEduDetails.text('Harvin Academy is a sincere effort by acclaimed academicians and professionals to ease your pursuit of success by providing you Total Quality Management for your budding career plans.')
					$()
					isMdisVisible = false
				}
				else {
					$passionForEdu.text('MDIS')
					$passionForEduDetails.text('MDIS conducts an entrance examination for students interested in pursuing MBBS from abroad. Harvin Academy provides coaching for the MDIS entrance exam at a very nominal fee')
					isMdisVisible = true

				}
				setTimeout(() => nextTestimonial(), 5000)
			}
			nextTestimonial()

		</script>