<%include partials/website_header.ejs%>
  <link rel="stylesheet" type="text/css" href="../dist/css/css_centers.css">
  <link href="../dist/css/css_materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../dist/css/css_style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../dist/css/css_mdis.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../dist/css/css_materialize-social.css" type="text/css" rel="stylesheet"></link>
  <main>
    <div id="overlay-head"></div>
    <div class="section" id="mdis-container">
      <div style="" class="main-heading">
        <h2 id="top-heading" class="center">MDIS</h2>
        <h5 class="center">Preperation for the European Medical Schools</h5>
      </div>
    </div>
    <div class="container" id="what-mdis">

      <div class="col l6 m6 s12">
        <div id="what-info">
          <h4 id="what-mdis-h">What is MDIS?</h4>
          <p>Medical Doctor International Studies is an innovated pre-medical program that prepares students to take the entrance
            exams for the European Medical Schools.</p>
          <br>
          <p>They are the official representative of several International European Medical Schools and serve as a bridge between
            those schools and the student.</p>
        </div>
      </div>

      <div class="col l6 m6 s12">
        <div class="container" id="request-callback-container">
          <h4 id="req-callback">REQUEST A CALLBACK</h4>
          <p id="req-callback-para" class="center">For any query regarding the course.</p>

          <div id="form" action="./mdis">
            <!-- <div class="row center"> -->
            <div style="margin: 0px" class="input-field col s12 m6 l4 push-l4 push-m3">
              <input id="full_name" type="text" class="validate">
              <label for="full_name">Full Name</label>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div style="margin: 0px" class="input-field col s12 m6 l4 push-l4 push-m3">
              <input id="contact" type="text" class="validate">
              <label for="contact">Contact No.</label>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div style="margin: 0px" class="input-field col s12 m6 l4 push-l4 push-m3">
              <input id="email" type="email" class="validate">
              <label for="email">Email Id</label>
            </div>
            <!-- </div> -->
            <div style="margin: 0px" class="row center">
              <button type="submit" class="waves-effect waves-light btn" onClick="requrestMDIScallback();">SUBMIT</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="temp">
      <div id="hero-mdis-img" class="hide-on-small-only"></div>
    </div>
    <div class="container" id="mdis-tab-section">
      <div id="mdis-tabs">
        <button class="mdis-tab-item activated arrow" value="0">Course Description</button>
        <button class="mdis-tab-item" value="1">Harvin and MDIS</button>
        <button class="mdis-tab-item" value="2">Partner Universities</button>
        <button class="mdis-tab-item" value="3">FAQ's</button>
      </div>
      <div id="mdis-tabs-info">

        <div class="mdis-tab-content">
          <p>The whole idea of our course is to prepare students for the universities entrance exams as well as the first two
            years of medical studies. During the pre-med course you study Biology, physics, chemistry and anatomy/physiology.
            It’s all medically oriented and designed after the entrance exams</p>
        </div>

        <div class="mdis-tab-content" style="display: none;">
          <p>MDIS conducts an entrance examination for students interested in pursuing MBBS from abroad. Harvin Academy provides
            coaching for the MDIS entrance exam at a very nominal fee of $5200+ Taxes. Harvin Academy is affiliated to MDIS
            regarding preparation to medical schools in Europe.</p>
        </div>

        <div class="mdis-tab-content" style="display: none;">
          <p>Our Partner Universities are as follows :
            <ol>
              <li>Palacky University in Olomouc</li>
              <li>University of Zagreb</li>
              <li> Lithuanian University of Health Sciences in Kaunas</li>
              <li>Vilnius University</li>
              <li>European University</li>
              <li>Poznan University of Medical Sciences</li>
            </ol>
          </p>
        </div>

        <div class="mdis-tab-content" style="display: none;">
          <p>
            <b>How many times MDIS conducts this examination?</b>
            <br> Thrice a year.
            <br>
            <b>Actual fees:</b>
            <br> $5200 + Value Added Taxes
            <br>
            <b>What are the modes of payments ?</b>
            <br> The payment can be done online in Medical Doctor's website (I will send you the link soon) Future option - payment
            can be done with a bank transfer or cheque to MDIS india account.
            <br>
            <b>When does the academic session start ?</b>
            <br> October course - October 2nd – April 18th The entrance examination will start on January 21st January course
            - January 21st – May 10. The entrance examination will start on May 12.
            <br>
            <b>What is the duration of the course ?</b>
            <br> It is four months.
            <br>
            <b>What does this fee include?</b>
            <br> Classroom teaching by the best medical faculty. Online access to all the material provided by MDIS – textbook
            presentations + video lectures. Periodic mock tests. Practice booklets in every subject: Biology, Chemistry,
            Physics and Anatomy & Physiology</p>
          <br>
        </div>

      </div>
    </div>
    <%if (foundBlogs.length > 0) { %>
      
      
          <div class="container ">
            <div class="row"> 
                
                <% foundBlogs.forEach((blog, i) => { %>
                  <!-- <article class="card single-blog text-center mt-5 mb-5 pt-0 pb-3" href="/blog/?title=<%=blog.url%>" href="/blog/<%=blog.url%>">


<!-- 
                          <mark class="catagory">
                              <%=blog.category%>
                          </mark> -->
                          <!-- Blog Content-->
                          <!-- <a href="/blog/<%=blog.url%>" >
                              <div class="blgo-content content" style="background-image:url(/blogImage/<%=blog.coverImgName%>)">
                                  <span class="posted-date">
                                      <%=blog.uploadDate%>
                                      
                                  </span>
                              </div>
                          </a>
                          <!-- Card Body -->
                          <!-- <div class="card-body p-0" href="/blog/<%=blog.url%>">
                              <h2 class="card-title h1 blog-title" href="/blog/<%=blog.url%>">
                                  <a href="/blog/<%=blog.url%>" style="color:#000000c7;"><%=blog.blogTitle%></a>
                              </h2>


                              <a href="/blog/<%=blog.url%>" class="read-more double-line">read more</a> -->
                              <!-- Card Footer -->
                          <!-- </div>
                          <div class="card-footer border-0 p-0 bg-white">
                              <div class="share-icons">
                                  <span>Share:</span>
                                  <a class="fb-share-button" data-href="https://harvin.academy/blog/<%=blog.url%>" data-layout="button_count">

                                  </a>
                                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                                      Tweet</a>

                              </div>
                          </div>
                      </a>

                  </article> -->
 
                  
                      <div class="col s12 m6 l4">
                        <div class="card small">
                          <div class="card-image">
                            <img src="/blogImage/<%=blog.coverImgName%>">
                            <span class="card-title"><%=blog.blogTitle%></span>
                          </div>
                          <div class="card-content">
                            <p><%=blog.uploadDate%></p>
                          </div>
                          <div class="card-action">
                            <a href="/blog/<%=blog.url%>">Read more........</a>
                          </div>
                        </div>
                      </div>
                    

                              <% }) %>
         
          </div>  </div>       
          <% } %>
  </main>
  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../js/materialize.js"></script>
    <script src="../../js/init.js"></script>
    <script src="../../js/mdis.js"></script>