<% include partials/header.ejs %>

<div class="container">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/db">Database</a></li>
      <li class="breadcrumb-item active" aria-current="page">Query</li>
    </ol>
  </nav>

  <% if (queries){ %>
  <% queries.forEach((query, i) =>{ %>
  <div class="well">
    <div class="row">
      <div class="col-md-1"><%= i + 1 %></div>
      <div class="col-md-2"><%= query.date %></div>
      <div class="col-md-1"><%= query.name %></div>
      <div class="col-md-1"><%= query.classs %></div>
      <div class="col-md-1"><%= query.phone %></div>
      <div class="col-md-3"><%= query.emailId %></div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <form method="post" action="/queries/<%=query._id%>?_method=delete"><button class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></form>
      </div>
      <div class="col-md-11">
        <b><%= query.queryMsg %></b>
      </div>
    </div>
  </div>

  <% }) %>
  <% } %>
</div>

<% include partials/footer.ejs %>
