<% include partials/header.ejs%>
    <main>

		<a href="/admin/questionBank/addNew" data-position="bottom" data-delay="50" data-tooltip="Add a new Question" class="new btn-floating tooltipped waves-effect waves-light red pulse"><i class="material-icons">add</i></a>
      <div class="container">
        <div class="row center-align">
            <h3>Question Bank</h3>
        </div>
        <hr>
        <br>
        <br>
        <div class="row">
          <form id="showQuestions" action="/admin/questionBank/qbData" method="get">

            <div class="row text-center">
              <div class="col s12 m4 input-field">
                <select required name="className" id="qb_classs">
                    <option selected value="" disabled>Class</option>
                     <%classes.forEach(function(classs){%>
                       <option value="<%=classs.className%>"><%=classs.className%></option>
                     <%})%>
                </select>
                <label>Select Class </label>
              </div>

              <div class="col s12 m4 input-field">
                <select required name="subjectName" id="qb_subject">
                </select>
                <label>Select Subject </label>
              </div>

              <div class="col s12 m4 input-field">
                <select required name="chapterName" id="qb_chapter">

                </select>
                <label>Select Chapter </label>
              </div>

            </div>
            <div class="row center">
              <div class="center">
                <input type="submit" value="Show Questions" class="btn ">
              </div>
            </div>
          </form>
        </div>
        <hr>
        <% if(questions && questions.length > 0){ %>
          <h4 style="text-align: center">Questions available in </h4>
          <div class="row">
            <div class="col s4">
              <h5>Class :<i><%=className%></i></h5>

            </div>
            <div class="col s4">
              <h5>Subject :<i><%=subjectName%></i></h5>

            </div>
            <div class="col s4">
              <h5>Chapter :<i><%=chapterName%></i></h5>

            </div>

          </div>
          <div class="section responsive">
            <% questions.forEach(function(question, i){ %>
              <div class="card question-card hoverable">
                <div class="card-content">
                  <b><%=i+1%>. </b>
                  <%=question.question%>
                <br>
                <div class="row">
                  <div class="col s6">
                    <hr>
                    <% question.newOptions.forEach(function(option){ %>
                      <p>
                        <input type="checkbox" disabled id="opt<%=i+1%>"
                        <%if(option.isAns){%>
                         checked="checked"
                         <%}%>
                         />
                        <label for="opt<%=i+1%>"><%=option.opt%></label>
                      </p>
                    <% }) %>
                  </div>
                </div>
              </div>
              <div class="card-action right-align">
              <!-- <a href="#!" class="blue-text "><i class="material-icons">create</i></a> -->
              <a href="/admin/questionBank/<%=question._id%>?_method=delete" class="red-text question-delete-button"><i class="material-icons">delete_forever</i></a>
            </div>
              </div>
              <% }) %>
                <% } %>
          </div>


      </div>


    </main>
    <% include partials/footer.ejs%>
<script src="/js/QB.js" charset="utf-8"></script>
