<head>
    <title><%=foundBlog.blogTitle%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="eSPtYedDuFnn9GWxmT-OZJtAugNRnUJwuZ65y7JDPfE" />
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <!-- META FROM DB -->
    <%-foundBlog.meta%>

</head>
<!-- Title -->
<!-- favicon Icon -->
<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
<!-- Stylesheets -->
<link rel="stylesheet" href="/assets/stylesheets/main.css">
<link rel="stylesheet" href="/css/blogTheme.css">

<body>
    <!-- <link rel="stylesheet" href="/ckeditor/plugins/tableselection/styles/tableselection.css"> -->
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- site content here -->
    <!-- =========================== Main Header =========================== -->

    <!-- =========================== //Main Header =========================== -->
    <!-- =========================== Middle Content =========================== -->

    <nav class="z-depth-0 no-pad">
        <div class="nav-wrapper ">
            <a href="#" class="brand-logo center">Harvin Academy</a>
        </div>
    </nav>


    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src =
                'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1054614874673150&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- twitter scripts -->
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>

    <div class="middle-content pt-50">
        <div class="container">
            <div class="row">
                <!-- ====================== Main .blog-area ====================== -->
                <main class="col l12 m10 s12 push-m1  blog-details-area blog-area">

                    <!-- ================= Full Post ================= -->
                    <article class="card full-post border-0">
                        <!-- <mark class="catagory center-align">Life Style</mark> -->

                        <!-- Blog Content-->
                        <div class="blgo-content">
                            <img class="card-img rounded-0" src="/blogImage/<%=foundBlog.coverImgName%>" alt="Blog Image">
                            <span class="posted-date">
                                <%=foundBlog.uploadDate%>
                            </span>
                        </div>
                        <h2 class="card-title center-align h1 pt-5">
                            <%=foundBlog.blogTitle%>
                        </h2>
                        <!-- Card Body -->
                        <div class="card-body blog-texts pt-1 pl-5 pr-5 pb-5">
                           

                                    <%-blogContent%>

                                        <br>
                                        <br>
                                        <div class="col-xs-12 col-lg-12 col-md-12 center">
                                            <h3>Liked this blog? Share with your friends</h3>
                                            <span class="fb-share-button" data-href="https://harvin.academy/blog/?title=WHY%20CHOOSE%20HARVIN?" data-layout="button_count">
                                            </span>
                                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                                                Tweet</a>
                                        </div>
                        </div>

                    </article>
                    <!-- ================= /Full Post ================= -->
                    <!-- =============== //Recent Blog =============== -->
                    <!-- =============== Blog Pagination =============== -->

                    <!-- //Pagination -->
                    <!-- Author Box -->
                    <!-- <div class="author-box row">

                        <div class="col-xl-10 col-lg-9">
                                <h2 class="card-title">John Moris</h2>
                                <div class="card-body p-0">
                                    <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard Mc Clintock</p>
                                </div>
                        </div>
                    </div> -->
                    <!-- share buttons -->
                    <!-- <div class="row share-box z-depth-2">
                        <div class="col-xs-12 col-lg-12 col-md-12 center">
                            <h3>Liked this blog? Share with your friends</h3>
                            <span class="fb-share-button" data-href="https://harvin.academy/blog/?title=WHY%20CHOOSE%20HARVIN?" data-layout="button_count">
                            </span>
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                                Tweet</a>
                        </div>
                    </div> -->
                    <!-- share button end -->
                    <!-- //Author Box -->
                    <!-- ================= Comment Area ================= -->
                    <div class="author-box row">
                        <div class="col-xs-12 col-lg-12 col-md-12 center">
                            <div class="fb-comments"></div>
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({
                                    google_ad_client: "ca-pub-7358139519857938",
                                    enable_page_level_ads: true
                                });
                            </script>
                        </div>
                    </div>

                    <!-- ================= //Comment Area ================= -->
                    <!-- ================= Releted post ================= -->
                    <div class="releted-post">
                        <h2 class="widget-title">RELATED POST</h2>
                        <div class="section">
                            <div class="row align-items-end">
                                <%foundBlogs.forEach(function(blog){%>
                                    <!-- Single Blog -->
                                    <article class="card single-blog center-align col l4  col s6 " id="related-post-card">
                                        <a href="/blog/<%=blog.url%>">
                                            <!-- Blog Content-->
                                            <div class="blgo-content">
                                                <img class="card-img rounded-0" src="/blogImage/<%=blog.coverImgName%>" alt="Blog Image">
                                                <span class="posted-date">
                                                    <%=blog.uploadDate%>
                                                </span>
                                            </div>
                                            <h3 class="card-title">
                                                <%=blog.blogTitle%>
                                            </h3>
                                        </a>
                                    </article>
                                    <!-- //Single Blog -->
                                    <%})%>
                            </div>
                        </div>
                    </div>
                    <!-- ================= //Releted post ================= -->
                </main>

            </div>
        </div>
    </div>


    <!-- =========================== //Middle Content =========================== -->
    <!-- =========================== //Footer =========================== -->

    <!-- =========================== //Footer =========================== -->
    <!-- #preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- ======================= Scripts ======================= -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
	<script src="/ckeditor/ckeditor.js"></script>    

    <script>
        $(document).ready(function () {
            var pageURL = $(location).attr("href");
            $('head').append('<meta property="og:url" content="' + pageURL + '" />')
            $('head').append('<meta property="og:type" content="article" />')
            $('head').append('<meta property="og:title content="Harvin academy" />')

            // $.each($('table'), function (index, value) {
            //     $(value).addClass('cke_show_border')

            // });


            // $.each($('table'), function (index, value) {
            //     $(value).parent().addClass('cke_show_borders')

            // });
            $.each($('img'), function (index, value) {
                $(value).addClass('responsive-img')

            });

            $.each($('img'), function (i, v) {
                $(value).addClass('responsive')
            })

        });
    </script>

    <% include partials/website_footer.ejs%>
