<% include partials/header.ejs%>

<div class="container">
    <h1> <b>Update Batch: </b>
        <%if(currentObject){%>
            <i> <%=currentObject.batchName%></i>
        <%}%>
    </h1>
    <form id="batchUpdateForm" method="post" action="/db/collections/batch/anyId?_method=put">
        <div class="row">
            <div class="col-sm-6">
                <h2>Batch</h2> <br>
                
                <select autofocus required  name="batchName" class="selectpicker" id="batch" >
                    <option selected value="" disabled>Batch</option>
                    <%=batches%>
                    <%if(batches){%>
                        <%batches.forEach(function(batch){%>
                            <option value="<%=batch.batchName%>"><%=batch.batchName%></option>   
                        <%})%>
                    <%}%>
                </select>
            </div>
            <div class="col-sm-6">
                <h2>Subject</h2> <br>

                <select required  name="subjectName" class="selectpicker" id="subjectsInBatch" multiple >
                    <option value="" disabled>Subject</option>
                    <%if(subjects){%>
                        <%subjects.forEach(function(subject){%>
                            <option value="<%=subject.subjectName%>"><%=subject.subjectName%></option>   
                        <%})%>
                    <%}%>
                </select>   
                    
            </div>
            <hr>
            <%if(currentObject && collectionName){%>
                <input type="hidden" name="currentObject" value='<%-JSON.stringify(currentObject)%>'>
                <input type="hidden" name="collectionName" value='<%=collectionName%>'>
            <%}%>
			<input type="submit" value="Update selected subject" name="submit" class="btn btn-primary btn-lg submit"/> 
            
        </div>
    </form>
</div>

<% include partials/footer.ejs%>
