<% include partials/header.ejs%>


<div class="container">
    <h1> <b>Edit File: </b><i> <%=currentObject.fileName%></i></h1>
    <form id="updateForm" method="post" action="/db/collections/file/<%=currentObject._id%>?_method=put">
        <div class="row">
            <div class="col-sm-3">
                <h2>Class</h2> <br>
                
                <select autofocus required  name="className" class="selectpicker" id="classs" >
                    <option value="" selected disabled>Class</option>
                     <%classes.forEach(function(classs){%>
                            <option value="<%=classs.className%>"><%=classs.className%></option>   
                     <%})%>
                    
                </select>
            </div>
            <div class="col-sm-3">
                <h2>Subject</h2> <br>

                <select required  name="subjectName" class="selectpicker" id="subject" >
                    <option value="" selected disabled>Subject</option>
                   
                    
                    
                </select>   
                    
            </div>
            <div class="col-sm-3">
                <h2>Chapter</h2><br>
                <select required  name="chapterName"  class="selectpicker" id="chapter" >
                    <option value="" selected disabled>Chapter</option>
                    
                </select>    
                    
            </div>
            <div class="col-sm-3">
                <h2>Topic</h2> <br>
                <select required  name="topicName"  class="selectpicker" id="topic" >
                    <option value="" selected disabled>Topic</option>
                    
                    
                </select>  
            </div> 
            
            <input type="hidden" name="currentObject" value='<%-JSON.stringify(currentObject)%>'>
			<input type="submit" value="Update File" name="submit" class="btn btn-primary btn-lg submit"/>   
        </div>
    </form>
</div>

<% include partials/footer.ejs%>
