<% include partials/header.ejs%>


<div class="container">
    <h1> Select appropriate option </h1>
    <div class="row">
        <div class="col-sm-4">
            <h2>Subject</h2> <br>
            
            <select name="subject" class="selectpicker" id="subject">
                <option selected disabled>----------</option>
                <%subjects.forEach(function(subject){%>
                    <option value="<%=subject.subjectName%>"><%=subject.subjectName%></option>
                <%})%>
                
                
            </select>   
                
        </div>
        <div class="col-sm-4">
            <h2>Chapter</h2><br>
            <select name="chapter"  class="selectpicker" id="chapter">
                <option selected disabled>----------</option>
                <%subjects.forEach(function(subject){%>
                    <%subject.chapters.forEach(function(chapter){%>
                        <option value="<%=chapter.chapterName%>"><%=chapter.chapterName%></option>
                    <%})%>
                <%})%>
            </select>    
                
        </div>
        <div class="col-sm-4">
            <h2>Topic</h2> <br>
            <select name="topic"  class="selectpicker" id="topic">
                <option selected disabled>----------</option>
                <%subjects.forEach(function(subject){%>
                    <%subject.chapters.forEach(function(chapter){%>
                        <%chapter.topics.forEach(function(topic){%>
                            <option value="<%=topic.topicName%>"><%=topic.topicName%></option>
                        <%})%>
                    <%})%>
                <%})%>
                
            </select>  
        </div>    
    </div>
</div>

<% include partials/footer.ejs%>
