<% include partials/header.ejs %>
  <main>
    <div class="container">
      <h3 style="text-align: center">List of all Users</h3>
      <hr>
      <table class="responsive-table centered highlight bordered" width="100%">
        <thead>
          <tr>
            <th width="(100/6)%" style="text-align: center">Serial no.</th>
            <th width="(100/6)%" style="text-align: center">Name</th>
            <th width="(100/6)%" style="text-align: center">Contact no.</th>
            <th width="(100/6)%" style="text-align: center">Email Id</th>
            <th width="(100/6)%" style="text-align: center">Registered in Batch</th>
            <th width="(100/6)%" style="text-align: center">Delete</th>

          </tr>
        </thead>
        <tbody>
          <% users.forEach(function (user, i) { %>
            <tr>
              <td width="(100/6)%" style="text-align: center">
                <%= i + 1 %>
              </td>

              <td width="(100/6)%" style="text-align: center">
                <%= user.username %>
              </td>

              <% if(user.profile && user.profile != null){ %>
                <td width="(100/6)%" style="text-align: center">
                  <%= user.profile.phone %>
                </td>
                <% } else { %>
                  <td width="(100/6)%" style="text-align: center">----
                  </td>
                  <% } %>

                    <% if(user.profile && user.profile != null){ %>
                      <td width="(100/6)%" style="text-align: center">
                        <%= user.profile.emailId %>
                      </td>
                      <% } else { %>
                        <td width="(100/6)%" style="text-align: center">----
                        </td>
                        <% } %>

                          <% if(user.profile && user.profile != null && user.profile.batch){ %>
                            <td width="(100/6)%" style="text-align: center">
                              <%= user.profile.batch.batchName %>
                            </td>
                            <% } else { %>
                              <td width="(100/6)%" style="text-align: center">----
                              </td>
                              <% } %>

                                <td width="(100/6)%" height="40px" style="text-align: center">
                                  <form action="/admin/db/users/<%= user._id %>?_method=delete" method="post">
                                    <button class="btn red">Delete</button>
                                  </form>
                                </td>
            </tr>
            <% }) %>

        </tbody>
      </table>
    </div>
  </main>
  <% include partials/footer.ejs %>
