<meta charset="UTF-8">
<title>Harvin Academy</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width">


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://cdn.rawgit.com/rstaib/jquery-steps/master/build/jquery.steps.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/css/newAdmissionForm.css" type="text/css" rel="stylesheet"></link>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<body>
	<main>
		<div class="container">
			<h4 class="center-align white-text">HARVIN ACADEMY</h4>
			<hr>
			<br>
			<br>
			<div class="row">
				<div class="col s3">
					<img id="imgPrev" src="/profileImg/<%=admission.profileImg%>" alt="your image" />
				</div>
				<div class="col s3 offset-s6">
					<input id="prev-course" disabled name="prev-course" type="text" value="<%=admission.course%>" placeholder="Course name" required
					  class="validate" />
					<label for="prev-course">
						<span class="label-text">Course Applied For</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<!--  -->
			<div class="row">
				<div class="col s4">
					<div class="row">
						<div class="col s6">
							<p>
								<input name="prev-gender"
								 <%if(admission.gender==='male' ){%>
									 checked
								<%}%>
									disabled type="radio" id="prev-male" />
									<label for="prev-male">Male</label>
							</p>
						</div>
						<div class="col s6">
							<p>
								<input name="prev-gender"
								<%if(admission.gender==='female' ){%>
									checked
								<%}%>
									disabled type="radio" id="prev-female" />
									<label for="prev-female">Female</label>
							</p>
						</div>
					</div>
				</div>
				<div class="col s4 input-field">
					<label for="prev-dob">D.O.B</label>
					<input type="text" id="prev-dob" value="<%=admission.dob%>" placeholder="01/01/1990" disabled name="prev-dob">
				</div>
				<div class="col s4 input-field">
					<input id="prev-category" placeholder="GEN" value="<%=admission.category%>" disabled name="prev-category" type="text" required class="validate" />
					<label for="prev-category">
						<span class="label-text">Category</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>


			<!--  -->
			<div class="row">
				<div class="col s4 input-field">
					<input id="prev-name" value="<%=admission.name%>" disabled placeholder="Your name" name="prev-name" type="text" required class="validate" />
					<label for="prev-name">
						<span class="label-text">Name</span>
						<span class="nav-dot"></span>
					</label>
				</div>
				<div class="col s4 input-field">
					<input id="prev-emailId" value="<%=admission.emailId%>" placeholder="Your email id" disabled name="prev-emailId" type="email" type="text" required class="validate">
					<label for="prev-emailId">Email Id</label>
				</div>
				<div class="col s4 input-field">
					<input id="prev-phone" value="<%=admission.phone%>" placeholder="Your phone" name="prev-phone" disabled type="text" type="text" required class="validate">
					<label for="prev-phone">Contact</label>
				</div>
			</div>

			<!--  -->
			<h5>Parent's/ Guardian's</h5>

			<div class="row">
				<div class="col s4 input-field">
					<input id="prev-guardiansName" value="<%=admission.guardiansName%>" placeholder="Guardians Name" name="prev-guardiansName" disabled type="text" required class="validate"
					/>
					<label for="prev-guardiansName">
						<span class="label-text">Name</span>
						<span class="nav-dot"></span>
					</label>
				</div>
				<div class="col s4 input-field">
					<input id="prev-guardiansPhone" value="<%=admission.guardiansPhone%>" placeholder="Guardians Contact" name="prev-guardiansPhone" type="text" disabled type="text"
					  min="1111111111" max="9999999999" required class="validate">
					<label for="prev-guardiansPhone">Contact no.</label>
				</div>
				<div class="col s4 input-field">
					<input id="prev-guardiansOccupation" value="<%=admission.guardiansOccupation%>" placeholder="Guardians Occupation" name="prev-guardiansOccupation" disabled type="text"
					  type="text" min="1111111111" max="9999999999" required class="validate">
					<label for="prev-guardiansOccupation">Occupation</label>
				</div>
			</div>

			<!--  -->

			<div class="row">
				<div class="col s12 input-field">
					<input id="prev-address" disabled name="prev-address" value="<%=admission.address%>" placeholder="Address" type="text" required class="validate" />
					<label for="prev-address">
						<span class="label-text">Correspondence Address</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<!--  -->
			<div class="row">
				<div class="col s12 input-field">
					<input id="prev-perma-address" value="<%=admission.permaAddress%>" disabled name="prev-perma-address" placeholder="Permanent Address" type="text" required class="validate"
					/>
					<label for="prev-perma-address">
						<span class="label-text">Permanent Address (If it is different from correspondence one)</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="col s12 input-field">
					<input id="prev-school" value="<%=admission.school%>" disabled name="prev-school" placeholder="Your school" type="text" required class="validate" />
					<label for="prev-school">
						<span class="label-text">School</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="col s9 white-text">
					Marks Obtained (X/XII Science & athematics- Aggregate) - in %
					<div class="input-field inline">
						<input id="prev-marks" value="<%=admission.marks%>" disabled name="prev-marks" placeholder="00" type="text" class="validate">
						<label for="prev-marks">Marks in %</label>
					</div>
				</div>
				<div class="col s3 input-field">
					<input id="prev-board" value="<%=admission.board%>" disabled name="prev-board" type="text" placeholder="CBSE" required class="validate" />
					<label for="prev-board">
						<span class="label-text">Examination Board</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>
		</div>
	</main>

</body>
<script src="/js/main.js" charset="utf-8"></script>
<script src="/js/newAdmissionForm.js" charset="utf-8"></script>

</html>
