<% include partials/header.ejs %>
	<main>
		<div class="container">
			<h3 style="text-align: center">List of all visitors</h3>
			<hr>
			<table class="responsive-table centered highlight bordered" width="100%">
				<thead>
					<tr>
						<th style="text-align: center">Serial no.</th>
						<th style="text-align: center">Date</th>
						<th style="text-align: center">Name</th>
						<th style="text-align: center">Class</th>
						<th style="text-align: center">Contact</th>
						<th style="text-align: center">Email Id</th>
						<th style="text-align: center">Referral</th>
					</tr>
				</thead>
				<tbody>
					<% if (visitors){ %>
						<% visitors.forEach((visitor, i) =>{ %>
							<tr href="#modal-comment" class="modal-trigger">
								<td style="text-align: center">
									<%= i + 1 %>
								</td>
								<td style="text-align: center">
									<%= visitor.date %>
								</td>
								<td style="text-align: center">
									<%= visitor.name %>
								</td>
								<td style="text-align: center">
									<%= visitor.classs %>
								</td>
								<td style="text-align: center">
									<%= visitor.phone %>
								</td>
								<td style="text-align: center">
									<%= visitor.emailId %>
								</td>
								</td>
								<td id="referral" style="text-align: center">
									<%= visitor.referral %>
								</td>
								<td id="comments" class="vms-table-text" style="text-align: center">
									<p>
										<%=visitor.comments%>
									</p>
								</td>
								<td id="school" class="vms-table-text" style="text-align: center">
									<p>
										<%=visitor.school%>
									</p>
								</td>
								<td id="address" class="vms-table-text" style="text-align: center">
									<p >
										<%=visitor.address%>
									</p>
								</td>
								<td id="aim" class="vms-table-text" style="text-align: center">
									<p >
										<%=visitor.aim%>
									</p>
								</td>
								<td style="text-align: center">
									<form method="post" action="/vms/<%=visitor._id%>?_method=delete">
										<button class="btn btn-sm btn-danger">
												Delete
											</button>
									</form>
								</td>
							</tr>
							<% }) %>
								<% } %>
				</tbody>
			</table>
			<div id="modal-comment" class="modal center-align">
				<div class="modal-content">
					<h4>Visitor Info</h4>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
			</div>
		</div>


	</main>
	<script src="/js/visitor.js" charset="utf-8"></script>
	<% include partials/footer.ejs %>
